kurigram 
tgcrypto

# --- [Database & Model] ---
pymongo[srv]==4.11.1
motor==3.7.0
marshmallow==3.26.1
umongo
dnspython==2.6.1

# --- [Web Server & Deployment] ---
aiohttp
gunicorn
uvloop
requests
python-dotenv==0.21.1
python-decouple
jinja2

# --- [Media & Image Processing] ---
Pillow
opencv-python-headless==4.8.1.78
ffmpeg-python==0.2.0
numpy

# --- [Utilities & Tools] ---
pytz
bs4
shortzy
speedtest-cli
humanize
psutil
ujson
wget
aiofiles
fuzzywuzzy
python-Levenshtein==0.27.3

# --- [External Repos] ---
git+https://github.com/NBBotz/IMDBKit.git@main

# --- [Payments & Async] ---
segno==1.6.1
asyncio
